<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Регистрация</title>
    <link href="/logins.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
</head>

<body>

    <div id="wrapper">

        <form name="login-form" class="login-form" action="" method="POST">

            <div class="header">
                <h1>Регистрация</h1>
                <span>Введите ваши регистрационные данные для входа</span>
            </div>

            <div class="content">
                <input name="username" type="text" class="input username" value="Логин" onfocus="this.value=''" />
                <input name="password" type="password" class="input password" value="Пароль" onfocus="this.value=''" />
            </div>
            <div class="footer">
                <input id="regIn" type="submit" name="submit" value="Регистрация" class="register">
            </div>
        </form>
    </div>
    <div class="gradient"></div>
    <script src=" https://code.jquery.com/jquery-2.2.4.min.js "></script>
    <script>
        $('#regIn').on('click', function(e) {
            e.preventDefault()
            $.ajax({
                data: $('.login-form').serialize(),
                url: "/login/registration",
                method: 'POST',
                success: function(e) {
                    alert(e.message)
                    window.location.href = '/login'
                }
            })
        })
    </script>
</body>

</html>